# Brevo API Configuration
BREVO_API_KEY=xkeysib-a9bb05e993f7319ce5292901a39b5e9a0005d24794530b
BREVO_TEMPLATE_ID=1
BREVO_AUTO_REPLY_TEMPLATE_ID=2
ADMIN_EMAIL=commerce.interservices@gmail.com

# Frontend URL (for CORS)
FRONTEND_URL=https://cis-vitrine-angular.vercel.app
